@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  background-color: black;
  scroll-behavior: smooth;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.card {
  background-color: white;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 0.5px 5px purple;
}

.card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card .row a {
  padding-right: 0px;
  text-decoration: None;
  font-weight: 900;
  font-size: 18px;
  color: Purple;
}

.card .row a:hover {
  color: magenta;
}

.card .row p {
  font-weight: 500;
  padding-right: 180px;
  padding-left: 0px;
}

.card .mini-card {
  background-color: Purple;
  color: white;
  font-weight: 600;
  width: 80px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 1px;
  box-shadow: 5px 5px 10px 1px grey;
}

.card .mini-card a {
  color: white;
}
.card .mini-card a:hover {
  transform: translate(0px, -5px);
  color: orange;
}

/* We need to find 
1. How do I connect CSS Components ?
2. How do I use Arguments (Maybe JS will come there !!)
3. Can we use two component for one animation ? */
