@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: 'Inter', sans-serif;
  /* overflow: hidden; */
}

.gradient-effect {
  background: linear-gradient(
    to top right,
    transparent,
    transparent,
    transparent,
    rgba(255, 255, 255, 0.25)
  );
  height: 100vh;
  width: 100%;
  animation: animation01 2s infinite alternate;
  backdrop-filter: blur(50px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: transparent;
  position: relative;
  z-index: 2;
}

nav img {
  height: 10vh;
}

nav .nav-comp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}

nav .nav-comp a {
  padding-left: 2rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.container {
  position: relative;
}

.container nav .nav-comp a:hover {
  color: #c21925;
}

.container .Hero-Img {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  margin-left: 5rem;
  background-color: transparent;
}

.container .Hero-Img .Hero-Text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.container .Hero-Img .Hero-Text a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 54px;
}

.container .Hero-Img .Hero-Text p {
  color: red;
  font-weight: 800;
  font-size: 32px;
  padding: 0;
}

.container .Hero-Img .Hero-Text h1 {
  font-size: 16px;
  font-weight: 400;
  padding-right: 8rem;
}

.container .Hero-Img .Hero-Text button {
  width: 180px;
  height: 44px;
  color: white;
  background: linear-gradient(to right, #c21925, red);
  margin: 3rem 0rem;
  font-weight: 600;
}

.container .Hero-Img img {
  height: 100%;
  width: 22%;
  padding: 0rem 6rem;
  object-fit: cover;
}

.container .Second-Section {
  position: relative;
  z-index: 3;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
}

.container .Second-Section .card-bg {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 50%;
  height: 45rem;
  margin-top: 0rem;
  z-index: -3;
  background-color: #181818;
}

.container .Second-Section .card-bg a {
  position: absolute;
  z-index: -2;
  text-decoration: none;
  color: #c21925;
  font-weight: 900;
  font-size: 66px;
  top: 500px;
  left: 450px;
}

.container .Second-Section .card-bg p {
  position: absolute;
  top: 560px;
  left: 450px;
  font-weight: 600;
}

.container .Second-Section .card-big:hover {
  background-color: #c21925;
  color: white;
  transform: translate(0px, -50px);
}

.container .Second-Section .card-big {
  width: 250px;
  padding: 2rem 2rem;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 80px 0.5px black;
}

.container .Second-Section .card-big .col-1 a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-weight: 800;
}
.container .Second-Section .card-big .col-1 p {
  color: grey;
  font-size: 18px;
  font-weight: 400;
}
.container .Second-Section .card-big .col-1 h2 {
  color: #c21925;
  font-size: 18px;
  font-weight: 800;
}

.container.bg-second {
  position: relative;
  z-index: 3;
}
.container .bg-second .card-02 {
  width: 50vh;
  height: 44px;
  background-color: white;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 100, 'wght' 800, 'GRAD' 0, 'opsz' 54;
}
.container .Second-Section .card-big .material-symbols-outlined {
  color: #c21925;
  width: 100%;
  padding-bottom: 2rem;
}

.card-big:hover {
  color: white;
}

@keyframes animation01 {
  0% {
    opacity: 0;
    background-position: 0% 100%;
  }

  100% {
    opacity: 1;
    background-position: 0% -300%;
  }
}
