@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&family=Raleway:wght@100;300;400;500;700&family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  scroll-behavior: smooth;
  height: 100vh;
  display: flex row;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'Inter', sans-serif;
}

.card {
  background-color: rgb(0, 0, 0);
  height: 22vh;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px yellow;
  animation: shadowAnimation 3s ease-in-out infinite;
  z-index: 1;
  justify-items: center;
  padding: 20px;
}

.card:hover {
  box-shadow: 0px 0px 100rem 10rem yellow;
}

.card .HeroSection {
  background: linear-gradient(45deg, magenta, cyan, lightgreen, yellow);
  background-clip: text;
  color: transparent;
  background-size: 400% 400%;
  animation: powerAnimation 8s ease-in-out infinite;
  justify-items: center;
  text-align: center;
}

.card .HeroSection p {
  font-size: 3rem;
  font-weight: 700;
}

.hero-img img {
  /* background-color: blue; */
  height: 20rem;
  margin: -5% 35%;
  padding: 60px 60px;
  z-index: -1;
}

@keyframes powerAnimation {
  0%,
  100% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }
}
