<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Day 06 | Fullstack</title>
  </head>
  <body>
    <header
      class="px-5 py-5 flex flex-row justify-between text-white text-2xl bg-indigo-300"
    >
      <a href="/"><h1>Welcome Back,</h1></a>
      <h3>Arnab</h3>
    </header>
    <div class="flex flex-row justify-evenly">
        <section id="r-sidebar" class="rounded-xl shadow-xl flex flex-col w-80 h-100">
            <a href="{%url 'profile'%}"><h1 class="px-5 py-3 font-xl text-black">Profile</h1></a>
            <a href="{%url 'contact'%}"><h1 class="px-5 py-3 font-xl text-black">Contact Us</h1>
        </section>
        <section id="posts" class="grid grid-cols-1">
        {%block content%} {%endblock%}
        </section>
        <section id="l-sidebar" class="rounded-xl shadow-xl flex flex-col w-56 h-100">
            <h1 class="px-5 py-5 mb-2 font-xl text-black">Profile</h1>
            <h1 class="px-5 py-5 mb-2 font-xl text-black">Images</h1>
            <h1 class="px-5 py-5 mb-2 font-xl text-black">Settings</h1>
        </section>
    </div>
</div>
   
  </body>
</html>
