{%extends 'core/base.html'%}{%block content%} 
<div class="px-5 py-5 shadow-2xl bg-gray-100 flex flex-col items-end w-96">
    <h1 class="py-3 text-xl font-bold text-gray-500">Arnab</h1>
    <img class="h-72 rounded-xl" src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c29jaWFsJTIwcGVvcGxlfGVufDB8fDB8fHww&w=1000&q=80" alt="" />
    <h3 class="py-3 text-gray-500">3 minutes ago</h3>
    <div class="px-3 flex flex-row items-start">
    <a class="px-1 text-lg font-bold" href="" class=""><i class="bx bx-like"></i>111</a>
    <a class="px-1 text-lg font-bold" href="" class=""><i class='bx bx-share'></i></i>999</a>
    <a class="px-1 text-lg font-bold" href="" class=""><i class='bx bx-comment'></i></i>888</a>
    </div>
</div>
<div class="px-5 py-5 shadow-2xl bg-gray-100 flex flex-col items-end w-96">
    <h1 class="py-3 text-xl font-bold text-gray-500">Arnab</h1>
    <img class="h-72 rounded-xl" src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c29jaWFsJTIwcGVvcGxlfGVufDB8fDB8fHww&w=1000&q=80" alt="" />
    <h3 class="py-3 text-gray-500">3 minutes ago</h3>
    <div class="px-3 flex flex-row items-start">
    <a class="px-1 text-lg font-bold" href="" class=""><i class="bx bx-like"></i>111</a>
    <a class="px-1 text-lg font-bold" href="" class=""><i class='bx bx-share'></i></i>999</a>
    <a class="px-1 text-lg font-bold" href="" class=""><i class='bx bx-comment'></i></i>888</a>
    </div>
</div>
{%endblock%}
