<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Delayed Gratification</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">DG</div>
      <div class="sidebar">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Donate</a>
      </div>
    </nav>
    <section id="Hero" class="Hero">
      <div class="Hero_Container">
        <div class="product_header">What is Delayed Gratification ?</div>
        <div class="product_content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
          officiis reprehenderit incidunt odit voluptatibus recusandae ea
          consequuntur ex soluta blanditiis necessitatibus ullam praesentium,
          modi inventore totam. Atque quis eius doloribus.
        </div>
        <button class="product_goto">Test Now</button>
      </div>
      <div class="product_img_container">
        <img
          class="product_img"
          src="https://minimalistquotes.com/images/grey-the-ability-to-discipline-yourself-to-de.jpg"
          alt="Hero_Image" />
      </div>
    </section>
    <section id="Product" class="Product">
      <div class="product">
        <h1 class="product_title">Enter Your Wish</h1>
        <input type="text" />
        <h1 class="product_subtitle">Enter Your Time to Delay</h1>
        <input type="text" />
        <button class="product_btn">Start</button>
      </div>
      <div class="timer"></div>
    </section>
    <section id="About_us" class="About_us">
      <div>
        <h1>Who am I ?</h1>
        <h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro totam
          id ut optio consequuntur commodi beatae, enim, quasi, alias natus quo
          ipsum ipsa temporibus sit libero dolorem? Qui, repellendus
          accusantium.
        </h2>
      </div>
    </section>
    <section id="Contact_us" class="Contact_us">
      <div>
        <h1>Feel free for Donation</h1>
      </div>
    </section>
    <section id="Footer" class="Footer">
      <div>
        <a href="">Made by Arnab with ❤️</a>
      </div>
    </section>
    <script src="js/index.js"></script>
  </body>
</html>
